doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Movie
  link(href='/assets/stylesheets/index.css' type='text/css' rel='stylesheet')
  // Bootstrap stylesheets CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  // Font Awesome CSS DN
  link(href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' rel='stylesheet')
  // JQuery CDN
  script(defer='' src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  // Popper CDN
  script(defer='' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  // Bootstrap javascript CDN
  script(defer='' src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
  script(defer='' src='/assets/javascript/index.js')
.container-fluid
  .row
    .col.p-3
      a.btn.btn-secondary(href=`/api/movies`) Back
  .row
    .col-md-8.offset-md-2
      .row
        .col-12
          h1
            a(href="/")
              i.fas.fa-film
              | &nbsp;Movies 55
          hr.text-muted
      .row
        .col-6
          h3 !{movie.title}
          .row
            .col-4
              img.d-block.w-100(src=movie.image  alt='...')
            .col-8.text-white
              h6.font-weight-bold Released
              p !{movie.releaseYear}
              h6.font-weight-bold Rated
              p !{movie.rating}
              h6.font-weight-bold Runtime
              p !{movie.runtime}
              h6.font-weight-bold Genre
              p !{movie.genre}
              h6.font-weight-bold Plot
              p !{movie.plot}
          hr
          .row
            .col-12.text-white
              h6.font-weight-bold Cast
              p 
                for actor of movie.actors
                  span !{actor.firstname} !{actor.lastname}, 
          .row
            .col-12.text-white
              h6.font-weight-bold Director(s)
              p 
                for director of movie.directors
                  span !{director.firstname} !{director.lastname}, 
          .row
            .col-12.text-white
              h6.font-weight-bold Writers
              p 
                for writer of movie.writers
                  span !{writer.firstname} !{writer.lastname}, 

        .col-6
          h5 More like !{movie.title} 
          .row
            for relatedMovie of relatedMovies
              .card.m-1
                img.card-img-top(src=relatedMovie.image)
                .card-body
                  h5.card-title !{relatedMovie.title}
                  a.btn.btn-primary(href=`/api/movies/${relatedMovie.id}`) Go to Movie 