include pageHead
include header

+pageHead("Movie", [], ['../assets/stylesheets/index.css'])
+header({})

.container-fluid
  .row
    .col.p-3
      a.btn.btn-secondary(href=`/movies`) Back
  .row
    .col-md-8.offset-md-2
      .row
        .col-6
          h3 !{movie.title}
          .row
            .col-4
              img.d-block.w-100(src=movie.image  alt='...')
            .col-8.text-white
              h6.font-weight-bold Released
              p !{movie.releaseYear}
              h6.font-weight-bold Rated
              p !{movie.rating}
              h6.font-weight-bold Runtime
              p !{movie.runtime}
              h6.font-weight-bold Genre
              p !{movie.genre}
              h6.font-weight-bold Plot
              p !{movie.plot}
          hr
          .row
            .col-12.text-white
              h6.font-weight-bold Cast
              p 
                for actor of movie.actors
                  span !{actor.firstname} !{actor.lastname}, 
          .row
            .col-12.text-white
              h6.font-weight-bold Director(s)
              p 
                for director of movie.directors
                  span !{director.firstname} !{director.lastname}, 
          .row
            .col-12.text-white
              h6.font-weight-bold Writers
              p 
                for writer of movie.writers
                  span !{writer.firstname} !{writer.lastname}, 
          .row
            .col-12.text-white
                form
                  .row
                    .col-12
                      h6.font-weight-bold Review
                      label.star
                        input(type='radio' name='value' value='1')
                      label.star
                        input(type='radio' name='value' value='2')
                      label.star
                        input(type='radio' name='value' value='3')
                        span.slider
                      label.star
                        input(type='radio' name='value' value='4')
                      label.star
                        input(type='radio' name='value' value='5')
                      br
                      textarea
                  a.btn.btn-primary.btn-lg.active(href='#' role='button' aria-pressed='true') Submit

        .col-6
          h5 More like !{movie.title} 
          .row
            for relatedMovie of relatedMovies
              .card.m-1
                img.card-img-top(src=relatedMovie.image)
                .card-body
                  h5.card-title !{relatedMovie.title}
                  a.btn.btn-primary(href=`/movies/${relatedMovie.id}`) Go to Movie 

