include pageHead
include header

+pageHead("Movie 55 - User Profile", [ '../assets/javascript/profile.js'], ['../assets/stylesheets/index.css','../assets/stylesheets/accounttype.css' ])
+header({hideProfile: true})

.container-fluid
  .row
    .col-sm-6.offset-sm-3
      h1 User Profile
      .card.card-body
        form#edit-profile-form
          .row
            .col.text-center
              h4 My Profile
              img(src='../assets/images/man-icon.png' alt='Avatar')
          
          .row
            .col-6
              .form-group
                label(for='user-username')  Username
                input#user-username.form-control(type='text', required value=profile.username)
            .col-6
              .form-group
                label(for='user-email')  Email
                input#user-email.form-control(type='email', required, value=profile.email)

            .col-6
              .form-group
                label(for='user-firstname')  Firstname
                input#user-firstname.form-control(type='text' value=profile.firstname)

            .col-6
              .form-group
                label(for='user-lastname')  Lastname
                input#user-lastname.form-control(type='text' value=profile.lastname)
          .row  
            .col
              .form-group
              label(for='user-role') Account Type
              select#user-role.custom-select
                 option(value='user' selected=profile.role == "user") User
                 option(value='contributor' selected=profile.role == "contributor") Contributor

          .row
            .col-12.pt-3
              button.btn.btn-primary.float-right(type='submit') Save Changes

      p
          a(href='') Contributions
      .row
        .col-4
          b People
        .col-4
          b Followers
        .col-4
          b Following
